body{
	background-color:#CCCCCC;
}
#content{ 
	position:relative; 
	margin:0 auto; 
	width:1000px;
	background-color:#CCCCCC;
}

#canvasDiv{
	 position:relative; 
	 margin:0 auto; 
	 width:400px; 
}

canvas{ 
	border:1px solid black; 
}

#logo{ 
	position: relative;
	top: 15px; 
	left:20px; 
	width:130px;
}

.topbar{
	position: relative;
	top: -15px;
	left:400px;
}

li{
	display: inline;
	list-style-type:none;	
	float: right;
}

.container{
	width:960px;
}

#menuIcon{
	width:150px;
	position:relative;
	top:0px;
}

#centerButtons{
	position: relative;
	top:70px;
	left:320px;
	width:120px;
	
}