#content													{ position:relative; margin:0 auto; width:1000px; }
#canvasDiv												{ position:relative; margin:0 auto; width:400px; }
canvas														{ border:1px solid black; }
#logo															{ position:absolute; }
